/*Alex Fankhauser | Last edited 4/12/22*/
body{
    background-image: url(../images/tabbg.png);
    background-size: cover;
}

.headcenter{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}
.navformat{
    top:5px;
    left: 5px;
    right: 5px;
    height: 100px;
    color: rgb(55, 0, 255);
    text-align: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    color: rgb(69, 15, 179);
    font-weight: 200;
    position: relative;
}
.footer{
    bottom: 5px;
    height: 50px;
    left: 5px;
    right: 5px;
    position: relative;
}
.tabspace{
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
}

.tabspace2{
    padding-left: 100px;
    padding-right: 1000px;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: larger;
    color: darkblue;
}